*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60%;
    width: 60%;

}
.imagediv{
    position: absolute;
    height: 200px;
    width: 270px;
    overflow: hidden;
}
.imagediv img{
    transform: translatey(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-top:20%;
}

